<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>仓库管理页面</title>
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}">
  <!-- CSS App -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}">
  <!-- Javascript Libs -->
  <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}"></script>
  <!-- Javascript -->
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
  <script type="text/javascript" th:src="@{/js/index.js}"></script>
  <script type="text/javascript" th:src="@{/lib/js/echarts.min.js}"></script>


</head>
<body class="flat-blue">
<div class="app-container">
  <div class="row content-container">
    <div th:insert="~{userpub::topbar}">

    </div>
    <div th:insert="~{userpub::sidebar(active='user.html')}">

    </div>
    <div class="container-fluid" id="main_content">
      <div class="side-body padding-top">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a th:href="@{/user/shelvelist}">
              <div class="card red summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-inbox fa-4x"></i>
                  <div class="content">
                    <div class="title">
                      <p th:text="${shelveSum}">
                    </div>
                    <div class="sub-title">货架数量</div>
                  </div>
                  <div class="clear-both"></div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a th:href="@{/user/allocationlist}">
              <div class="card yellow summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-comments fa-4x"></i>
                  <div class="content">
                    <div class="title"><p th:text="${allocationSum}"></p></div>
                    <div class="sub-title">新的调拨要求</div>
                  </div>
                  <div class="clear-both"></div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a th:href="@{/user/orderlist}">
              <div class="card green summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-tags fa-4x"></i>
                  <div class="content">
                    <div class="title"><p th:text="${orderSum}"></div>
                    <div class="sub-title">新的订单</div>
                  </div>
                  <div class="clear-both"></div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a th:href="@{/user/productstoragelist}">
              <div class="card blue summary-inline">
                <div class="card-body">
                  <i class="icon fa fa-archive fa-4x"></i>
                  <div class="content">
                    <div class="title"><p th:text="${prodSum}"></p></div>
                    <div class="sub-title">入库单数量</div>
                  </div>
                  <div class="clear-both"></div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div id="main" style="width: 600px;height:400px;"></div>
        <div id="main1" style="width: 600px;height:400px;"></div>
        <script th:inline="javascript">
          //1.基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('main'))
          var myChart1 = echarts.init(document.getElementById('main1'))
          //2.从官网复制下来符合自己场景的图表配置项，并配置其数据
          var arr1 = [[${days}]];
          var arr2 = [[${sums}]];
          option1 = {
            title: {
              text: '近三月入库商品数量'
            },
            tooltip: {
              trigger: 'axis'
            },
            legend: {
              data: ['入库量']
            },

            xAxis: {
              data: arr1
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                name: '入库量',
                type: 'bar',
                data: arr2
              }

            ]
          };
          var state1=[[${state1}]];
          var state2=[[${state2}]];
          option = {
            title: {
              text: '货架使用情况',
              left: 'center'
            },
            tooltip: {
              trigger: 'item'
            },
            legend: {
              orient: 'vertical',
              left: 'left',
            },
            series: [
              {
                name: '货架使用情况',
                type: 'pie',
                radius: '50%',
                data: [
                  {value: state1, name: '占用'},
                  {value: state2, name: '空闲'}
                ],
                emphasis: {
                  itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                  }
                }
              }
            ]
          };
          //3.填充表参数
          myChart.setOption(option)
          myChart1.setOption(option1)
        </script>

      </div>
    </div>

  </div>
</div>
</body>
</html>